body {
   background-color: rgb(64, 100, 64);
   color: rgb(158, 209, 128);
   font-family: "Pixelify Sans", sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 700px;
   margin: 0;
}

button {
   background-color: #64A712;
   color: white;
   font-family: "Pixelify Sans", sans-serif;
}

.passo {
   display: none;
}

.passo.ativo {
   display:block;
}